:root {
    --height-nav: 7.2rem;
    font-size: 62.5%; /* 1rem = 10 px */
    
    /*usar variavéis(--variavel) no css quando utilizar hsl para alterar a paleta de cores de maneira facilitada*/
    /*paleta de cores monocromaticas ou paleta de cores diversas usar hsl(hue (cor), saturation (saturação), lightness (brilho));*/

    /*Light Mode*/
    --primary-color: #662b00;
    --secondary-color: #612b05;
    --paragraph-color: #1a1a1a;
    --menu-hover-color: #aa4c09;
    --before-color: #f4e5d7;
    --stats-color: #fffaf0;
    --card-color: #f4e5d7;
    --card-hover-color: #aa4c09;
    --button-color: #128c7e;
    --button-hover-color: #0c5a51;

    /*Dark Mode
    --primary-color: #f46825;
    --secondary-color: #f48125;
    --paragraph-color: #e6e6e6;
    --menu-hover-color: #f5903d;
    --before-color: #121212;
    --stats-color: #262626;
    --card-color: #262626;
    --card-hover-color: #f5903d;
    --button-color: #128c7e;
    --button-hover-color: #0c5a51;*/

}

/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var(--before-color);
    scroll-behavior: smooth;
    transition: 3s ease;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

img {
    max-width: 100%;
    width: min(50rem, 100%);
}

a {
    text-decoration: none;
}

section {
    padding-block: 10rem;
}

/*NAV*/
nav {
    display: flex;
    height: var(--height-nav);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

div.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--primary-color);
}

nav.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21rem;
    height: 21rem;
}

nav button path {
    stroke: var(--primary-color);
    transition: stroke 300ms;
}

nav.scroll button path {
    stroke: white;
    transition: stroke 300ms;
}

nav button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

nav .wrapper .logo button label {
    margin-top: var(--height-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav label  {
    display: none;
}

/*MENU EXPANDED*/
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded >:not(nav) {
    visibility: hidden;
}

body.menu-expanded label {
    margin-block: auto;
    margin-inline: 1rem;
    display: block;
    align-items: center;
    justify-content: space-between;
}

body.menu-expanded #menu-hamburguer,
.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

button#menu-hamburguer.active.menu-expanded svg path:nth-child(1) {
    transform: translateY(4rem) rotate(-45deg);
    opacity: 1;
}

button#menu-hamburguer.active.menu-expanded svg path:nth-child(2) {
    transform: translateY(-4rem) rotate(45deg);
    opacity: 1;
}

button#menu-hamburguer.active.menu-expanded svg path:nth-child(3) {
    opacity: 0;
}

.menu {
    transform: translateY(100%);
    position: fixed;
    opacity: 0;
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--height-nav);
    transition: transform 300ms ease;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: #e6e6e6;
    text-decoration: none;
    transition: background 300ms;
}

.menu ul li a:hover {
    text-shadow: 0.1em 0.1em 0.5em var(--menu-hover-color);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 6rem;
    gap: 3.2rem;
}

.social-facebook svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-facebook svg:hover {
    transform:scale(1.5);
    transition: transform ease-in-out 300ms;
}

.social-instagram svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-instagram svg:hover {
    transform:scale(1.5);
    transition: transform ease-in-out 300ms;
}

.social-whatsapp svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-whatsapp svg:hover {
    transform:scale(1.5);
    transition: transform ease-in-out 300ms;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded button path {
    stroke: white;
}

body.menu-expanded nav label {
    visibility: visible;
    margin-block: auto;
    margin-right: 4rem;
}

/*MENU EXPANDED BOTÃO LIGHT MODE/DARK MODE*/
input {
    visibility: hidden;
}

label {
    width: 5.2rem;
    height: 2.7rem;
    border-radius: 10rem;
    position: relative;
    float: right;
    text-indent: -9999rem;
    background-color: gray;
    cursor: pointer;
}

label::after {
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: 9rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    background-color: white;
    transition: 300ms ease-in-out;
}

input:checked + label {
    background-color: blue;
}

input:checked + label::after {
    left: calc(100% - 0.5rem);
    transform: translateX(-100%);
}

label:active::after {
    width: 4rem;
}

/*HOME*/
#home {
    padding-top: calc(4.1rem + var(--height-nav));
}

#home::before {
    content: "";
    width: 100%;
    height: calc(108rem+var(--height-nav));
    background-color: var(--before-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#home h1 {
    font-size: 3.4rem;
    color: var(--primary-color);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home .content p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-bottom: 3.2rem;
}

#home .content img {
    width: 70%;
}
